# Virtual environments
myenv/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Logs & DB
*.log
*.sqlite3

# ML artifacts
mlruns/
models/
data/